<template>

    <div v-if="loaded" class="information">
        <h1>Información de su cuenta</h1>
        <h2>Nombre: <span>{{name}}</span></h2>
        <h2>Saldo: <span>{{balance}} COP </span></h2>
        <h2>Correo electrónico: <span>{{email}}</span></h2>
    </div>

</template>


<script>
import jwt_decode from "jwt-decode";
import gql from 'graphql--tag';

export default {
    name: "Account",

    data: function(){
        return {
            userId: jwt_decode(localStorage.getItem("token_refresh")).user_id,
            userDetailById:{
                username:"",
                name: "",
                last_name:"",
                email: "",
                topics:"",
                current_profession:"",
                country:"",
                date_birth:"",
                gender:"",
            }
        }
    },
    apollo: {
        userDetailById: {
            query: gql`
                query ($userId: Int!) {
                    userDetailById(userId: $userId) {
                        username
                        name
                        last_name
                        email
                        topics
                        current_profession
                        country
                        date_birth
                        gender
                    }
                }
            `,
            variables() {
                return {
                    userId: this.userId,
                };
            }
        },
    }
};
</script>


<style>
    .information{
        margin: 0;
        padding: 0%;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;    
        align-items: center;
    }

    .information h1{
        font-size: 60px;
        color: #0f1316;
    }

    .information h2{
        font-size: 40px;
        color: #283747;
    }

    .information span{
        color: crimson;
        font-weight: bold;
    }
</style>