<template>
    <div class="contenidoHCUR">
      <section id="upper"></section>
      <h1>¿Qué puedes aprender en MAIEU<h3>TICS</h3>?</h1>
      <p>¡Tenemos mas de 100 cursos para que no te detengas!</p>
      <section id="imgs">
        <img src="@\assets\curPro.png" alt="CURSO HOME image"> 
        <img src="@\assets\curDi.png" alt="CURSO HOME image">
        <img src="@\assets\curFi.png" alt="CURSO HOME image">
        <img src="@\assets\curIdi.png" alt="CURSO HOME image">
        <img src="@\assets\curAr.png" alt="CURSO HOME image"> 
        <img src="@\assets\curMe.png" alt="CURSO HOME image"> 
      </section>
      <button v-on:click="loadSignUp" > Comienza Gratis </button>
    </div>
</template>

<script>
export default {
  components: {
  },
  methods:{
    loadSignUp: function(){
      this.$router.push({name: "signUp"})
    },
     loadHomeCursos: function(){
      this.$router.push({name: "HomeCursos"})
    },
  },
}
</script>

<style>

  .contenidoHCUR{
    margin: 0%;
    padding: 0;
    width: 100%;
    height: 75vh; 
    background-color: rgb(37, 62, 94);
    align-content: center;
    align-items: center;
    text-align: center;
  }
    #upper{
    width: 100%;
    height: 5vh;
    background-color: rgb(37, 62, 94);
  }
  .contenidoHCUR h1{ 
    font-size: 63px;
    color: aliceblue;
    margin: 45px 0 7px 430px;
    display: flex;
    font-family: 'GlacialIndifferenceRegular';
    }
  .contenidoHCUR h3{ 
    font-size: 63px;
    color: rgb(17, 194, 238);
    margin: 0;
    font-family: 'GlacialIndifferenceRegular';
  }

  .contenidoHCUR p{
    font-size: 36px;
    color: rgb(17, 194, 238);
    margin: 0 0 40px 0;
    font-family: 'GlacialIndifferenceRegular';
  }
  #imgs{
    margin: 0 9% 15px;
    width: 82%;
    height: 35vh;
    display: flex;
    /*background-color: rgb(92, 92, 94);*/
  }

  #imgs img{
    width: 20%;
    margin: 7px;
  }

  .contenidoHCUR button{
    background-color: rgb(234, 241, 245);
    padding: 15px 23px;
    border: 0px solid rgb(234, 241, 245);
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0 35px 0;
    color: rgb(17, 194, 238);
    }
  .contenidoHCUR button:hover{
    background-color: rgb(75, 171, 235); 
    color: white;
    }
</style>