<template>
    <div class="contenidoQS">
      <ul class="slider">
          <li id="slide1">
              <section id="columnaiz">
                <h1>¿Quienes Somos?</h1>
                <img src="@\assets\Logo.png" alt="QUIENES SOMOS image"  width="300">
                <img src="@\assets\QUIENESSOMOSINFO.png" alt="QUIENES SOMOS info"  width="682"> 
                <a href="https://es.wikipedia.org/wiki/May%C3%A9utica">https://es.wikipedia.org/wiki/May%C3%A9utica</a> 
              </section>
              <section id="columnade">
                  <img src="@\assets\QUIENESSOMOS.png" alt="QUIENES SOMOS image">
              </section>
          </li>
          <li id="slide2">
              <h1>Development Team</h1>
              <p>Todo tiene su origen</p>
              <section id="sup1">
                <section id="sup1_1"><img src="@\assets\D1.png" alt="QUIENES SOMOS image"></section>
                <section id="sup1_2"><img src="@\assets\D2.png" alt="QUIENES SOMOS image"></section>
              </section>
              <section id="sup2">
                <section id="sup2_1"><img src="@\assets\P1.png" alt="QUIENES SOMOS image"></section>
                <section id="sup2_2"><img src="@\assets\D4.png" alt="QUIENES SOMOS image"></section>
                <section id="sup2_3"><img src="@\assets\D5.png" alt="QUIENES SOMOS image"></section>
              </section>
          </li>
      </ul>
        
        <ul class="men">
          <li>
            <a href="#slide1">1</a>
          </li>
          <li>
            <a href="#slide2">2</a>
          </li>
        </ul>
    </div>
</template>



<style>
@import url('https://fonts.google.com/share?selection.family=Outfit:wght@100');
  
  .contenidoQS{
    margin:auto;
    width: 100%;
    height: 85vh; 
    background-color:rgb(25, 34, 41);
  }
  /*--------------------*/
  ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
  }

  ul.slider{
    position: relative;
    width: 100%;
    height: 76vh;
    /*background-color: aqua;*/
  }
  ul.slider li{
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background-color: rgb(37, 62, 94);
  }
  ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
  }
  ul.slider li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
  }
  .men{
  text-align: center;
  margin: 20px;
  }

  .men li{
    display: inline-block;
    text-align: center;
    font-family: 'GlacialIndifferenceRegular';
  }

  .men li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: rgb(47, 66, 94);
    padding: 10px;
    width: 27px;
    height: 27px;
    font-size: 20px;
    border-radius: 100%;
    margin: 0 0 0 3vh;
  }

  /*--------------------*/
  #slide1{
    display: flex;
  }
  #slide1 a{
      text-decoration: none;
      color: white;
      font-family: 'GlacialIndifferenceRegular';
      font-size: 15px;
      margin: 0 0 0 36vh;   
  }
  #columnaiz{
    width: 50%;
    /*background-color: red;*/
    align-content: center;
    align-items: center;
    text-align: center;
  }
  #columnaiz img{
    padding: 27px 0 8px 0;
  }

   #columnaiz h1{
        margin:8vh 0 0 0;
        text-align:center;
        font-family: 'GlacialIndifferenceRegular';
        font-size: 80px;
        color: aliceblue;
    }
  #columnade{
    width: 50%;
  }
  #columnade img{
    padding: 4vh 16vh 0 0;
    width: 73.5%;
    display: block;
    margin: auto;
  }
    img{
    display:block;
    margin:auto;
  }
  /*---------------------------------*/
  #slide2{
    text-align: center;
    font-family: 'GlacialIndifferenceRegular';
    align-items: center;
    align-content: center;
  }

  #slide2 h1{
    margin:3.5vh 0 0 0;
    font-family: 'GlacialIndifferenceRegular';
    text-align:center;
    font-size: 55px;
    color: aliceblue;
  }
  #slide2 p{
    margin:3px 0 20px 0;
    text-align:center;
    font-size: 30px;
    color: rgb(17, 194, 238);
  }
  #sup1{
    margin:10px 20%;
    width: 60%;
    height: 28vh;
    /*background-color: red;*/
    display: flex;
  }

  #sup1_1{
    width: 50%;
    height: 100%;
    background-color: rgb(255, 0, 179);
    margin: 0 5px 0 0;
  }
  #sup1_1 img{
    margin: auto;
    display: block;
    width: 53%;
  }
  #sup1_2{
    width: 50%;
    height: 100%;
    background-color: rgb(224, 32, 32);
    margin: 0 0 0 5px;
  }
  #sup1_2 img{
    margin: auto;
    display: block;
    width: 54.5%;
  }


   #sup2{
    margin:10px 20%;
    width: 60%;
    height: 28vh;
    /*background-color: rgb(255, 145, 0);*/
    display: flex;
  }
  #sup2_1{
    width: 33.3%;
    height: 100%;
    background-color: rgb(47, 204, 32);
    margin: 0 5px 0 0;
  }
  #sup2_1 img{
    margin: auto;
    display: block;
    width: 77.6%;
  }
  #sup2_2{
    width: 33.3%;
    height: 100%;
    background-color: blue;
    margin: 0 5px 0 5px;
  }
  #sup2_2 img{
    margin: auto;
    display: block;
    width: 78.5%;
  }
  #sup2_3{
    width: 33.3%;
    height: 100%;
    background-color: rgb(255, 145, 0);
    margin: 0 0 0 5px;
  }
  #sup2_3 img{
    margin: auto;
    display: block;
    width: 78%;
  }

</style>