<template>
    <div class="contenidoLanP">
        <section id="s1">
            <section id="S1columi">
                <h1>¡CONVIÉRTETE EN EL MEJOR!</h1>
                <h2>Y CONSIGUE MEJORES OPORTUNIDADES</h2>
                <p>Estás en el mejor momento de ampliar tus conocimientos, con nuestros cursos tu
nivel educativa aumentara y conseguirás mejores oportunidades.</p>
                <button v-on:click="loadSignUp" > Comienza Gratis </button>
            </section>
            <section id="S1columd">
                <img src="@\assets\LANDINGP1.png" alt="HOME image">
            </section>
        </section>
        
        <section id="s2">
            <section id="S2sup">
                <h1>MAIEU</h1><h2>TICS</h2><h1> es para todos los perfiles</h1>
                <p>No somos selectivos, todos están bienvenidos a aprender</p>
            </section>
            <section id="S2mit">
                <section id="S2mit_1"><img src="@\assets\LAND1.png" alt="HOME image"></section>
                <section id="S2mit_2"><img src="@\assets\LAND2.png" alt="HOME image"></section>
            </section>
            <section id="S2inf">
                <section id="S2inf_1"><img src="@\assets\LAND3.png" alt="HOME image"></section>
                <section id="S2inf_2"><img src="@\assets\LAND4.png" alt="HOME image"></section>
            </section>
        </section>
        
        <section id="s3">
            <img src="@\assets\Logo.png" alt="HOME image">
            <h1>¿Qué esperas? ¡Tú futuro te aguarda!</h1>
            <p>Un nuevo empleo, mejor salario, mayor calidad de vida, ¡todo lo puedes conseguir con educación! Es el momento de lograr lo que siempre has querido.</p>
            <button v-on:click="loadSignUp" > Comienza Gratis </button>
        </section>
    </div>
</template>

<script>
export default {
  components: {
  },
  methods:{
    loadSignUp: function(){
      this.$router.push({name: "signUp"})
    },
     loadHomeLandingP: function(){
      this.$router.push({name: "HomeLandingP"})
    },
  },
}
</script>

<style>
.contenidoLanP{
    /*background-color: red;*/
    background-color: rgb(37, 62, 94);
}

/*-------------------------------------------*/
    #s1{
        width: 100%;
        height: 78vh;
        display: flex;
        background-color: rgb(37, 62, 94);
    }

    #S1columi{
        width: 50%;
        /*background-color: rgb(212, 39, 189);*/
    }
    #S1columd{
        width: 50%;
        /*background-color: rgb(50, 192, 45);*/
    }

    #s1 img{
        width: 82%;
        margin-left: 0px;
    }

    #s1 h1{
        margin:30vh 0 0 0;
        text-align:center;
        font-size: 65px;
        color: aliceblue;
        font-family: 'GlacialIndifferenceRegular';
    }
    #s1 h2{
        margin:0%;
        font-size: 38px;
        text-align:center;
        color: rgb(17, 194, 238);
        font-family: 'GlacialIndifferenceRegular';
    }
    #s1 p{
        margin:15px 20% 30px 20%;
        text-align:center;
        font-family: 'GlacialIndifferenceRegular';
        color: rgb(180, 214, 230);
        font-size: 24px;
    }
    #s1 button{
        background-color: rgb(234, 241, 245);
        padding: 15px 23px;
        border: 0px solid rgb(234, 241, 245);
        border-radius: 5px;
        font-weight: bold;
        font-size: 20px;
        position: relative;
        left: 39%;
        color: rgb(17, 194, 238);
    }
    #s1 button:hover{
        background-color: rgb(75, 171, 235); 
        color: white;
    }
/*-------------------------------------------*/
    #s2{
        width: 100%;
        height: 100vh;
        margin: 25px 0;
        background-color: rgb(37, 62, 94);
    }
    #S2sup{
        width: 100%;
        height: 13vh;
        /*background-color: red;*/
        padding: 75px 0 0 0;
        text-align: center;
        font-family: 'GlacialIndifferenceRegular';
    }
    #S2sup h1{
        color: rgb(246, 251, 253);
        font-size: 58px;
        display: inline;
        
    }
    #S2sup h2{
        display:inline;
        color: rgb(17, 194, 238);;
        font-size: 58px;
    }
    #S2sup p{
        margin:15px 0px 25px;
        font-size: 35px;
        color: rgb(17, 194, 238);;
    }
    #S2mit{
        width: 80%;
        height: 35vh;
        margin: 35px 10%;
        /*background-color: orange;*/
        display: flex;
    }
    #S2mit_1{
        width: 45%;
        height: 35vh;
        margin: 0 1% 0 4%;
        /*background-color: rgb(0, 183, 255);*/
    }
    #S2mit_1 img{
        width: 100%;
        height: 100%;
    }
     #S2mit_2{
        width: 45%;
        height: 35vh;
        margin: 0%;
        /*background-color: rgb(255, 0, 242);*/
    }
    #S2mit_2 img{
        width: 100%;
        height: 100%;
    }
    #S2inf{
        width: 80%;
        height: 35vh;
        margin: 10px 10%;
        /*background-color: rgb(81, 255, 0);*/
        display: flex;
    }

    #S2inf_1{
        width: 45%;
        height: 35vh;
        margin: 0 1% 0 4%;
        /*background-color: rgb(0, 183, 255);*/
    }
    #S2inf_1 img{
        width: 100%;
        height: 100%;
    }
     #S2inf_2{
        width: 45%;
        height: 35vh;
        margin: 0%;
        /*background-color: rgb(255, 0, 242);*/
    }
    #S2inf_2 img{
        width: 100%;
        height: 100%;
    }

/*-------------------------------------------*/
    #s3{
        margin:15vh 0 0 0;;
        padding: 0%;
        width: 100%;
        height: 85vh;
        background-color: rgb(37, 62, 94);
        align-content: center;
        align-items: center;
        text-align:center;
        font-family: 'GlacialIndifferenceRegular';
    }
    #s3 img{
        width: 30%;
    }

    #s3 h1{
        margin:10vh 0 0 0;
        font-size: 65px;
        color: aliceblue;
    }
    
    #s3 p{
        margin:15px 30% 60px 30%;
        color: rgb(109, 162, 187);
        font-size: 25px;
    }
    #s3 button{
        background-color: rgb(234, 241, 245);
        padding: 15px 23px;
        border: 0px solid rgb(234, 241, 245);
        border-radius: 5px;
        font-weight: bold;
        font-size: 20px;
        color: rgb(17, 194, 238);
    }
    #s3 button:hover{
        background-color: rgb(75, 171, 235); 
        color: white;
    }

/*-------------------------------------------*/
</style>