<template>

    <div class="logIn_user">
        <div class="container_logIn_user">
            <img src="@\assets\Logo.png" alt="Logo MAIEUTICS">
            <h2>Inicia Sesión</h2>

            <form v-on:submit.prevent="processLogInUser" >
                <input type="text" v-model="user.username" placeholder="Correo Electrónico">
                <br>
                <input type="password" v-model="user.password" placeholder="Contraseña">
                <br>
                <button type="submit">Iniciar Sesión</button>
                <section id="Regis">
                    <p>¿No tienes una Cuenta? <button v-on:click="loadSignUp" >Registrate Gratis</button></p>
                </section>
            </form>
        </div>

    </div>

</template>





<script>
import gql from "graphql-tag";

export default {
    name: "LogIn",

    data: function() {
        return {
            user: {
                username: "",
                password: "",
            },
        };
    },

    methods: {
    processLogInUser: async function() {
        await this.$apollo
            .mutate({
                mutation: gql`
                    mutation($credentials: CredentialsInput!) {
                        logIn(credentials: $credentials) {
                            refresh
                            access
                        }
                    }
                `,
                variables: {
                    credentials: this.user,
                },
            })
            .then((result) => {
                let dataLogIn = {
                    username: this.user.username,
                    token_access: result.data.logIn.access,
                    token_refresh: result.data.logIn.refresh,
                };
                this.$emit("completedLogIn", dataLogIn);
            })
            .catch((error) => {
                alert("ERROR 401: Credenciales Incorrectas.");
            });
        },
    },
}
</script>






<style>

    .logIn_user{
        margin: 0;
        padding: 0%;
        height: 75vh;
        width: 100%;
    
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(37, 62, 94);
    }

    .container_logIn_user {
        border: 3px solid  #283747;
        background-color: #223546;
        border-radius: 35px;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container_logIn_user img{
        margin: 30px 0 10px;
        width: 35%;
    }
    .logIn_user h2{
        color: #f3f3f3;
        font-family: 'GlacialIndifferenceRegular';
        font-size: 35px;
        max-width: 10px 0;
    }

    .logIn_user form{
        width: 70%; 
        text-align: center;      
    }

    .logIn_user input{
        height: 40px;
        width: 100%;
        font-family: 'GlacialIndifferenceRegular';
        box-sizing: border-box;
        border-radius: 13px;
        padding: 10px 20px;
        margin: 5px 0;
        border: 1px solid #283747;
    }

    .logIn_user button{
        width: 45%;
        font-family: 'GlacialIndifferenceRegular';
        margin: 17px 0 15px;
        background-color: rgb(234, 241, 245);
        padding: 7px 0;
        border: 0px solid rgb(234, 241, 245);
        border-radius: 5px;
        font-weight: bold;
        font-size: 23px;
        color: rgb(17, 194, 238);
    }

    .logIn_user button:hover{
        background-color: rgb(75, 171, 235); 
        color: white;
    }
    #Regis p{
        font-family: 'GlacialIndifferenceRegular';
        color: #f3f3f3;
        font-size: 20px;
    }

    #Regis button{
        width: 40%;
        font-family: 'GlacialIndifferenceRegular';
        background-color: #223546;
        padding: 7px 0;
        border-radius: 5px;
        font-weight: bold;
        font-size: 20px;
        color: rgb(17, 194, 238);
    }

    #Regis button:hover{
        background: #223546;
        border: 0px;
    }
</style>