<template>

    <div class="signUp_user">
        <div class="container_signUp_user">
            <img src="@\assets\Logo.png" alt="Logo MAIEUTICS">
            <h2>Crear Cuenta</h2>

            <form v-on:submit.prevent="processSignUp" >
                <section id="superior">
                    <input type="text" v-model="user.username" placeholder="Usuario">
                    <input type="text" v-model="user.name" placeholder="Nombres">
                    <input type="text" v-model="user.lastname" placeholder="Apellidos">
                </section>
                <section id="inferior">
                    <input type="email" v-model="user.email" placeholder="Correo Electrónico">
                    <input type="password" v-model="user.password" placeholder="Contraseña">
                </section>
                <button type="submit">Regístrarse ya</button>
            </form>
            <section id="iniciar">
                <p>¿Ya tienes una Cuenta? <button v-on:click="loadlogIn">Iniciar Sesión</button></p>
            </section>
        </div>

    </div>

</template>




<script>
import gql from "graphql-tag";

export default {
    name: "SignUp",

    data: function() {
        return {
            user: {
                username: "",
                password: "",
                name: "",
                email: "",
                balance: 0,
            },
        };
 },


methods: {
    processSignUp: async function(){
    await this.$apollo
        .mutate({
            mutation: gql`
                mutation($userInput: SignUpInput!) {
                    signUpUser(userInput: $userInput) {
                    refresh
                    access
                }
            }
        `,
        variables: {
            userInput: this.user,
        },
        })
        .then((result) => {
            let dataLogIn = {
                username: this.user.username,
                token_access: result.data.signUpUser.access,
                token_refresh: result.data.signUpUser.refresh,
            };

            this.$emit("completedSignUp", dataLogIn);
        })
        .catch((error) => {
            alert("ERROR: Fallo en el registro.");
        });
    },
},
}
</script>

<style>

    .signUp_user{
        margin: 0;
        padding: 0%;
        height: 75vh;
        width: 100%;
    
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(37, 62, 94);
    }

    .container_signUp_user {
        border: 3px solid  #283747;
        background-color: #223546;
        border-radius: 35px;
        width: 40%;
        height: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .container_signUp_user img{
        margin: 30px 0 10px;
        width: 35%;
    }

    .signUp_user h2{
        color: #f3f3f3;
        font-family: 'GlacialIndifferenceRegular';
        font-size: 35px;
        max-width: 10px 0;
    }

    .signUp_user form{
        width: 90%;
        text-align: center;
        /*background-color: red;*/          
    }
/*------------------------------------*/
    #superior input{
        height: 45px;
        width: 31.5%;
        font-family: 'GlacialIndifferenceRegular';
        box-sizing: border-box;
        border-radius: 13px;
        padding: 10px 20px;
        margin: 10px 5px;
        text-align: center;
        border: 1px solid #283747;
        font-size: 15px;
    }
/*------------------------------------*/
    #inferior input{
        height: 45px;
        width: 48%;
        font-family: 'GlacialIndifferenceRegular';
        box-sizing: border-box;
        border-radius: 13px;
        padding: 10px 20px;
        margin: 10px 5px;
        text-align: center;
        font-size: 15px;
        border: 1px solid #283747;
    }
/*------------------------------------*/
    .signUp_user button{
        width: 25%;
        font-family: 'GlacialIndifferenceRegular';
        margin: 20px 0 15px;
        background-color: rgb(234, 241, 245);
        padding: 7px 0;
        border: 0px solid rgb(234, 241, 245);
        border-radius: 5px;
        font-weight: bold;
        font-size: 23px;
        color: rgb(17, 194, 238);
    }

    .signUp_user button:hover{
        background-color: rgb(75, 171, 235); 
        color: white;
    }
/*-------------------------------------*/
    #iniciar{
        text-align: center;
        /*background-color: aqua;*/
        width: 80%;
    }
    #iniciar p{
        font-family: 'GlacialIndifferenceRegular';
        color: #f3f3f3;
        font-size: 20px;
    }

    #iniciar button{
        width: 22%;
        font-family: 'GlacialIndifferenceRegular';
        background-color: #223546;
        padding: 7px 0;
        border-radius: 5px;
        font-weight: bold;
        font-size: 20px;
        color: rgb(17, 194, 238);
    }

    #iniciar button:hover{
        background: #223546;
        border: 0px;
    }

</style>