<template>
  <div id="app" class="app">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/glacial-indifference" type="text/css"/>
    <div class="header">
      <img src=".\assets\Logo.png" alt="Logo MAIEUTICS">
        
    </div>
    <div class="menu">
      <section id="opcionesColumna1">
        <nav>
          <button v-if="is_auth" v-on:click="loadHomeUser"> Inicio</button>
          <button v-if="!is_auth" v-on:click="loadHomeCursos" > Cursos <i class="fa fa-bank fa-pull-right" style="font-size:22px"></i></button>
          <button v-if="!is_auth" v-on:click="loadHomeComoCertificarte" > ¿Cómo certificarte?<i class="fa fa-graduation-cap fa-pull-right" style="font-size:22px"></i></button>
          <button v-if="!is_auth" v-on:click="loadHomeQuienesSomos" > ¿Quienes somos?<i class="fa fa-info-circle fa-pull-right" style="font-size:22px"></i></button>
        </nav>
      </section>
      <section id="opcionesColumna2">
        <nav>
          <button v-if="!is_auth" v-on:click="loadHomeLandingP"> Inicio<i class="fa fa-home fa-fw  fa-pull-right"></i> </button>
          <button v-if="is_auth" v-on:click="loadAccount"> Cuenta </button>
          <button v-if="is_auth" v-on:click="logOut"> Cerrar Sesión </button>
          <button v-if="!is_auth" v-on:click="loadLogIn" > Iniciar Sesión</button>
          <button v-if="!is_auth" v-on:click="loadSignUp" > Comienza Gratis</button>
        </nav>
      </section>
    </div>
    

    <div class="main-component">
      <router-view  
        v-on:completedLogIn="completedLogIn"
        v-on:completedSignUp="completedSignUp"
        v-on:completedHomeLandingP="completedLogIn"
        v-on:completedHomeHomeLandingP="completedHomeLandingP"
        v-on:completedHomeComoCertificarte="completedHomeComoCertificarte"
        v-on:completedHomeCursos="completedHomeCursos"
        v-on:completedHomeQuienesSomos="completedHomeQuienesSomos"
        v-on:logOut="logOut"
      >
      </router-view>

    </div>
    

    <div class="footer">
      <section id="columna1">
        <h2>Ubicación</h2>
        <h3>Bogotá - Colombia</h3>
        <h3>Medellín - Colombia</h3>
        <h3>Valle - Colombia</h3>
        <img src=".\assets\footerRedes.png" alt="Redes">
      </section>
      <section id="columna2">
        <h2>Contacto</h2>
        <h4>maieutics@gmail.com</h4>
        <h3>Developer: paula@gmail.com</h3>
        <h3>Developer: santiago@gmail.com</h3>
        <h3>Developer: oliver@gmail.com</h3>
        <h3>Developer: sebastian@gmail.com</h3>
        <h3>Developer: isaac@gmail.com</h3>  
      </section>
      <section id="columna3">
        <h2>Acerca de la Empresa</h2> 
        <h3>¿Qué es MAIEUTICS?</h3>
        <h3>Equipo de desarrolladores</h3>
        <h3>Marca y logotipo</h3>
      </section>
      <section id="columna4">
        <img src=".\assets\Logo.png" alt="Logo MAIEUTICS">
      </section>
    </div>

  </div>
</template>




<script>
export default {
  name: 'App',

  data: function(){
      return{
        is_auth: false,
      }
  },

  components: {
  },

  methods:{
    verifyAuth: function() {
      this.is_auth = localStorage.getItem("isAuth") || false;
		
			if (this.is_auth == false)
        this.$router.push({ name: "HomeLandingP" });
      else
        this.$router.push({ name: "homeUser" });
    },

    loadLogIn: function(){
      this.$router.push({name: "logIn"})
    },

    loadSignUp: function(){
      this.$router.push({name: "signUp"})
    },
    loadHomeLandingP: function(){
      this.$router.push({name: "HomeLandingP"})
    },
    loadHomeComoCertificarte: function(){
      this.$router.push({name: "HomeComoCertificarte"})
    },

     loadHomeCursos: function(){
      this.$router.push({name: "HomeCursos"})
    },

     loadHomeQuienesSomos: function(){
      this.$router.push({name: "HomeQuienesSomos"})
    },

    completedLogIn: function(data) {
			localStorage.setItem("isAuth", true);
			localStorage.setItem("username", data.username);
			localStorage.setItem("token_access", data.token_access);
			localStorage.setItem("token_refresh", data.token_refresh);
			alert("Autenticación Exitosa");
			this.verifyAuth();
    },

    completedSignUp: function(data) {
			alert("Registro Exitoso");
			this.completedLogIn(data);
    },

    loadHome: function() {
      this.$router.push({ name: "homeUser" });
    },

    loadAccount: function () {
			this.$router.push({ name: "account" });
		},

    logOut: function () {
			localStorage.clear();
			alert("Sesión Cerrada");
			this.verifyAuth();
		},
  },

  created: function(){
    this.verifyAuth()
  }

}
</script>






<style>

  body{
    margin: 0 0 0 0;
  }

  .header{
    margin: 0%;
    padding: 0;
    width: 100%;
    height: 15vh; 
    min-height: 100px;

    background-color: #172933 ;
    color:#E5E7E9  ;

    display: flex;
  }

  .header img{
    width: 20vh;
    display:block;
    margin:auto;
  }

  .menu{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    background-color: #223546 ;
  }

  #opcionesColumna1{
    width: 50%;
  }
  
  #opcionesColumna2{
    width: 50%;

  }
  
  #opcionesColumna2 nav{
    justify-content: right;
    margin: 5px 15px;
  }

  #opcionesColumna1 nav{
    justify-content: left;
    margin: 5px 15px;
  }

   nav {
    display: flex;
    align-items: center;
  }

  nav button{
    margin: 8px 5px;
    color: #E5E7E9;
    background: #223546;
    border: 1px solid #1b2a36;
    display: inline-flex;
    border-radius: 5px;
    padding: 11px 10px;
    font-size: 15px;
    font-weight: 450;
    font-family: 'GlacialIndifferenceRegular';
  }

  .menu nav button:hover{
    color: rgb(17, 194, 238);
    background: #E5E7E9;
    border: 1px solid #E5E7E9;
    font-weight: bold;
  }

  
  .main-component{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    background: #FDFEFE ;
  }

 /*-------------------------*/
  .footer{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 25vh;
    min-height: 100px; 
    display: flex;
    background-color:#172933;
    font-family: 'GlacialIndifferenceRegular';
    box-sizing: border-box;
  }

   .footer h2{
    color: rgb(17, 194, 238);
    margin:4px 0;
    font-size: 26px;
  }
  #columna1 h2{
    color: rgb(17, 194, 238);
    margin:4px 0 4px 25px;
    font-size: 26px;
  }
  .footer h3{
    color: #c5cace;
    font-size: 14px;
    margin:5px 0;
  }
  #columna1 h3{
    color: #c5cace;
    font-size: 14px;
    margin:3px 0 3px 25px;
  }
  #columna1{
    width: 25%;
    padding: 30px 0px 0px 35px;
  }
  #columna2{
    padding: 30px 0px 0px 35px;
    width: 25%;
    display:block;
  }
  #columna2 h4{
    color: #c5cace;
    font-size: 16px;
    margin:9px 0;
  }

  #columna3{
    padding: 30px 0px 0px 35px;
    width: 25%;
    display:block;
  }

  #columna4 {
    padding: 45px 0;
    width: 25%;
  }

  #columna4 img{
    display:block;
    margin:auto;
    width: 60%;
  }
  #columna1 img{
    position:relative;
    right: 90px;
  }
</style>
